
body
{
margin:0;
}
.container
{
display:flex;
align-items: center;
justify-content:center;
height: 100vh;
}
.title{
   text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.image{
    height:80px;
    width:80px;
}